.cube {
  &__container {
    padding-bottom: 80px;
    --rotate-x: 15deg;
    --rotate-y: 15deg;
    --cube-dimension: 60px;
    display: flex;
    width: calc(var(--cube-dimension) * 6);
    height: calc(var(--cube-dimension) * 6);
  }
  &__list {
    transition: 0.05s transform ease-out;
    transform-style: preserve-3d;
    transform: rotateX(var(--rotate-x)) rotateY(var(--rotate-y));
    position: relative;
    margin: auto;
    width: calc(var(--cube-dimension) * 3);
    height: calc(var(--cube-dimension) * 3);
    &--l {
      .cube__item {
        &[data-facet="top"] {
          &:nth-child(9n + 1),
          &:nth-child(9n + 4),
          &:nth-child(9n + 7) {
            --rotate-angle-x: 0deg;
          }
        }
        &[data-facet="back"] {
          &:nth-child(9n + 3),
          &:nth-child(9n + 6),
          &:nth-child(9n + 9) {
            --rotate-angle-x: 90deg;
          }
        }
        &[data-facet="front"] {
          &:nth-child(9n + 1),
          &:nth-child(9n + 4),
          &:nth-child(9n + 7) {
            --rotate-angle-x: -90deg;
          }
        }
        &[data-facet="bottom"] {
          &:nth-child(9n + 1),
          &:nth-child(9n + 4),
          &:nth-child(9n + 7) {
            --rotate-angle-x: -180deg;
          }
        }
        &[data-facet="left"] {
          --rotate-angle-z: 90deg;
        }
      }
    }
    &--l-reverse {
      .cube__item {
        &[data-facet="top"] {
          &:nth-child(9n + 1),
          &:nth-child(9n + 4),
          &:nth-child(9n + 7) {
            --rotate-angle-x: 180deg;
          }
        }
        &[data-facet="back"] {
          &:nth-child(9n + 3),
          &:nth-child(9n + 6),
          &:nth-child(9n + 9) {
            --rotate-angle-x: -90deg;
          }
        }
        &[data-facet="bottom"] {
          &:nth-child(9n + 1),
          &:nth-child(9n + 4),
          &:nth-child(9n + 7) {
            --rotate-angle-x: 0deg;
          }
        }
        &[data-facet="front"] {
          &:nth-child(9n + 1),
          &:nth-child(9n + 4),
          &:nth-child(9n + 7) {
            --rotate-angle-x: 90deg;
          }
        }
        &[data-facet="left"] {
          --rotate-angle-z: -90deg;
        }
      }
    }
    &--r {
      .cube__item {
        &[data-facet="top"] {
          &:nth-child(9n + 3),
          &:nth-child(9n + 6),
          &:nth-child(9n + 9) {
            --rotate-angle-x: 180deg;
          }
        }
        &[data-facet="back"] {
          &:nth-child(9n + 1),
          &:nth-child(9n + 4),
          &:nth-child(9n + 7) {
            --rotate-angle-x: -90deg;
          }
        }
        &[data-facet="front"] {
          &:nth-child(9n + 3),
          &:nth-child(9n + 6),
          &:nth-child(9n + 9) {
            --rotate-angle-x: 90deg;
          }
        }
        &[data-facet="bottom"] {
          &:nth-child(9n + 3),
          &:nth-child(9n + 6),
          &:nth-child(9n + 9) {
            --rotate-angle-x: 0deg;
          }
        }
        &[data-facet="right"] {
          --rotate-angle-z: 90deg;
        }
      }
    }
    &--r-reverse {
      .cube__item {
        &[data-facet="top"] {
          &:nth-child(9n + 3),
          &:nth-child(9n + 6),
          &:nth-child(9n + 9) {
            --rotate-angle-x: 0deg;
          }
        }
        &[data-facet="back"] {
          &:nth-child(9n + 1),
          &:nth-child(9n + 4),
          &:nth-child(9n + 7) {
            --rotate-angle-x: 90deg;
          }
        }
        &[data-facet="bottom"] {
          &:nth-child(9n + 3),
          &:nth-child(9n + 6),
          &:nth-child(9n + 9) {
            --rotate-angle-x: -180deg;
          }
        }
        &[data-facet="front"] {
          &:nth-child(9n + 3),
          &:nth-child(9n + 6),
          &:nth-child(9n + 9) {
            --rotate-angle-x: -90deg;
          }
        }
        &[data-facet="right"] {
          --rotate-angle-z: -90deg;
        }
      }
    }
    &--d {
      .cube__item {
        &[data-facet="front"] {
          &:nth-child(9n + 7),
          &:nth-child(9n + 8),
          &:nth-child(9n + 9) {
            --rotate-angle-y: 90deg;
          }
        }
        &[data-facet="left"] {
          &:nth-child(9n + 7),
          &:nth-child(9n + 8),
          &:nth-child(9n + 9) {
            --rotate-angle-y: 0deg;
          }
        }
        &[data-facet="right"] {
          &:nth-child(9n + 7),
          &:nth-child(9n + 8),
          &:nth-child(9n + 9) {
            --rotate-angle-y: 180deg;
          }
        }
        &[data-facet="back"] {
          &:nth-child(9n + 7),
          &:nth-child(9n + 8),
          &:nth-child(9n + 9) {
            --rotate-angle-y: 270deg;
          }
        }
        &[data-facet="bottom"] {
          --rotate-angle-y: 90deg;
        }
      }
    }
    &--d-reverse {
      .cube__item {
        &[data-facet="front"] {
          &:nth-child(9n + 7),
          &:nth-child(9n + 8),
          &:nth-child(9n + 9) {
            --rotate-angle-y: -90deg;
          }
        }
        &[data-facet="left"] {
          &:nth-child(9n + 7),
          &:nth-child(9n + 8),
          &:nth-child(9n + 9) {
            --rotate-angle-y: -180deg;
          }
        }
        &[data-facet="right"] {
          &:nth-child(9n + 7),
          &:nth-child(9n + 8),
          &:nth-child(9n + 9) {
            --rotate-angle-y: 0deg;
          }
        }
        &[data-facet="back"] {
          &:nth-child(9n + 7),
          &:nth-child(9n + 8),
          &:nth-child(9n + 9) {
            --rotate-angle-y: 90deg;
          }
        }
        &[data-facet="bottom"] {
          --rotate-angle-y: -90deg;
        }
      }
    }
    &--u {
      .cube__item {
        &[data-facet="front"] {
          &:nth-child(9n + 1),
          &:nth-child(9n + 2),
          &:nth-child(9n + 3) {
            --rotate-angle-y: -90deg;
          }
        }
        &[data-facet="left"] {
          &:nth-child(9n + 1),
          &:nth-child(9n + 2),
          &:nth-child(9n + 3) {
            --rotate-angle-y: -180deg;
          }
        }
        &[data-facet="right"] {
          &:nth-child(9n + 1),
          &:nth-child(9n + 2),
          &:nth-child(9n + 3) {
            --rotate-angle-y: 0deg;
          }
        }
        &[data-facet="back"] {
          &:nth-child(9n + 1),
          &:nth-child(9n + 2),
          &:nth-child(9n + 3) {
            --rotate-angle-y: 90deg;
          }
        }
        &[data-facet="top"] {
          --rotate-angle-z: 90deg;
        }
      }
    }
    &--u-reverse {
      .cube__item {
        &[data-facet="front"] {
          &:nth-child(9n + 1),
          &:nth-child(9n + 2),
          &:nth-child(9n + 3) {
            --rotate-angle-y: 90deg;
          }
        }
        &[data-facet="left"] {
          &:nth-child(9n + 1),
          &:nth-child(9n + 2),
          &:nth-child(9n + 3) {
            --rotate-angle-y: 0deg;
          }
        }
        &[data-facet="right"] {
          &:nth-child(9n + 1),
          &:nth-child(9n + 2),
          &:nth-child(9n + 3) {
            --rotate-angle-y: 180deg;
          }
        }
        &[data-facet="back"] {
          &:nth-child(9n + 1),
          &:nth-child(9n + 2),
          &:nth-child(9n + 3) {
            --rotate-angle-y: 270deg;
          }
        }
        &[data-facet="top"] {
          --rotate-angle-z: -90deg;
        }
      }
    }
    &--f {
      .cube__item {
        &[data-facet="top"] {
          &:nth-child(9n + 7),
          &:nth-child(9n + 8),
          &:nth-child(9n + 9) {
            transform: rotateZ(var(--rotate-angle-z))
              rotateX(var(--rotate-angle-x)) rotateY(90deg)
              translate3d(var(--x-axis), var(--y-axis), var(--z-axis));
          }
        }
        &[data-facet="left"] {
          &:nth-child(9n + 3),
          &:nth-child(9n + 6),
          &:nth-child(9n + 9) {
            --rotate-angle-x: 90deg;
          }
        }
        &[data-facet="right"] {
          &:nth-child(9n + 1),
          &:nth-child(9n + 4),
          &:nth-child(9n + 7) {
            --rotate-angle-x: -90deg;
          }
        }
        &[data-facet="bottom"] {
          &:nth-child(9n + 1),
          &:nth-child(9n + 2),
          &:nth-child(9n + 3) {
            transform: rotateZ(var(--rotate-angle-z))
              rotateX(var(--rotate-angle-x)) rotateY(-90deg)
              translate3d(var(--x-axis), var(--y-axis), var(--z-axis));
          }
        }
        &[data-facet="front"] {
          --rotate-angle-z: 90deg;
        }
      }
    }
    &--f-reverse {
      .cube__item {
        &[data-facet="left"] {
          &:nth-child(9n + 3),
          &:nth-child(9n + 6),
          &:nth-child(9n + 9) {
            --rotate-angle-x: -90deg;
          }
        }
        &[data-facet="right"] {
          &:nth-child(9n + 1),
          &:nth-child(9n + 4),
          &:nth-child(9n + 7) {
            --rotate-angle-x: 90deg;
          }
        }
        &[data-facet="top"] {
          &:nth-child(9n + 7),
          &:nth-child(9n + 8),
          &:nth-child(9n + 9) {
            transform: rotateZ(var(--rotate-angle-z))
              rotateX(var(--rotate-angle-x)) rotateY(-90deg)
              translate3d(var(--x-axis), var(--y-axis), var(--z-axis));
          }
        }
        &[data-facet="bottom"] {
          &:nth-child(9n + 1),
          &:nth-child(9n + 2),
          &:nth-child(9n + 3) {
            transform: rotateZ(var(--rotate-angle-z))
              rotateX(var(--rotate-angle-x)) rotateY(90deg)
              translate3d(var(--x-axis), var(--y-axis), var(--z-axis));
          }
        }
        &[data-facet="front"] {
          --rotate-angle-z: -90deg;
        }
      }
    }
    &--b {
      .cube__item {
        &[data-facet="top"] {
          &:nth-child(9n + 1),
          &:nth-child(9n + 2),
          &:nth-child(9n + 3) {
            transform: rotateZ(var(--rotate-angle-z))
              rotateX(var(--rotate-angle-x)) rotateY(-90deg)
              translate3d(var(--x-axis), var(--y-axis), var(--z-axis));
          }
        }
        &[data-facet="left"] {
          &:nth-child(9n + 1),
          &:nth-child(9n + 4),
          &:nth-child(9n + 7) {
            --rotate-angle-x: -90deg;
          }
        }
        &[data-facet="right"] {
          &:nth-child(9n + 3),
          &:nth-child(9n + 6),
          &:nth-child(9n + 9) {
            --rotate-angle-x: 90deg;
          }
        }
        &[data-facet="bottom"] {
          &:nth-child(9n + 7),
          &:nth-child(9n + 8),
          &:nth-child(9n + 9) {
            transform: rotateZ(var(--rotate-angle-z))
              rotateX(var(--rotate-angle-x)) rotateY(90deg)
              translate3d(var(--x-axis), var(--y-axis), var(--z-axis));
          }
        }
        &[data-facet="back"] {
          --rotate-angle-z: 90deg;
        }
      }
    }
    &--b-reverse {
      .cube__item {
        &[data-facet="top"] {
          &:nth-child(9n + 1),
          &:nth-child(9n + 2),
          &:nth-child(9n + 3) {
            transform: rotateZ(var(--rotate-angle-z))
              rotateX(var(--rotate-angle-x)) rotateY(90deg)
              translate3d(var(--x-axis), var(--y-axis), var(--z-axis));
          }
        }
        &[data-facet="left"] {
          &:nth-child(9n + 1),
          &:nth-child(9n + 4),
          &:nth-child(9n + 7) {
            --rotate-angle-x: 90deg;
          }
        }
        &[data-facet="right"] {
          &:nth-child(9n + 3),
          &:nth-child(9n + 6),
          &:nth-child(9n + 9) {
            --rotate-angle-x: -90deg;
          }
        }
        &[data-facet="bottom"] {
          &:nth-child(9n + 7),
          &:nth-child(9n + 8),
          &:nth-child(9n + 9) {
            transform: rotateZ(var(--rotate-angle-z))
              rotateX(var(--rotate-angle-x)) rotateY(-90deg)
              translate3d(var(--x-axis), var(--y-axis), var(--z-axis));
          }
        }
        &[data-facet="back"] {
          --rotate-angle-z: -90deg;
        }
      }
    }
    &--animate .cube__item {
      transition: 0.2s transform ease-out;
    }
  }
  &__item {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    width: var(--cube-dimension);
    height: var(--cube-dimension);
    --x-axis: 0px;
    --y-axis: 0px;
    --z-axis: calc(var(--cube-dimension) * 3 / 2);
    background-color: #f0f0f0;
    display: flex;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 4px;
    transform: rotateY(var(--rotate-angle-y)) rotateX(var(--rotate-angle-x))
      rotateZ(var(--rotate-angle-z))
      translate3d(var(--x-axis), var(--y-axis), var(--z-axis));
    &::before {
      content: "";
      display: block;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      border-radius: 8px;
      background: var(--facet-color);
      margin: auto;
    }
    &--white {
      --facet-color: #fff;
    }
    &--red {
      --facet-color: var(--red-color);
    }
    &--green {
      --facet-color: var(--green-color);
    }
    &--yellow {
      --facet-color: var(--yellow-color);
    }
    &--orange {
      --facet-color: var(--orange-color);
    }
    &--blue {
      --facet-color: var(--blue-color);
    }
    &[data-facet="top"] {
      --rotate-angle-x: 90deg;
      --rotate-angle-y: 0deg;
      --rotate-angle-z: 0deg;
    }
    &[data-facet="bottom"] {
      --rotate-angle-x: -90deg;
      --rotate-angle-y: 0deg;
      --rotate-angle-z: 0deg;
    }
    &[data-facet="left"] {
      --rotate-angle-x: 0deg;
      --rotate-angle-y: -90deg;
      --rotate-angle-z: 0deg;
    }
    &[data-facet="right"] {
      --rotate-angle-x: 0deg;
      --rotate-angle-y: 90deg;
      --rotate-angle-z: 0deg;
    }
    &[data-facet="back"] {
      --rotate-angle-x: 0deg;
      --rotate-angle-y: 180deg;
      --rotate-angle-z: 0deg;
    }
    &[data-facet="front"] {
      --rotate-angle-x: 0deg;
      --rotate-angle-y: 0deg;
      --rotate-angle-z: 0deg;
    }
    &:nth-child(9n + 1) {
      --x-axis: calc(var(--cube-dimension) * -1);
      --y-axis: calc(var(--cube-dimension) * -1);
    }
    &:nth-child(9n + 2) {
      --y-axis: calc(var(--cube-dimension) * -1);
    }
    &:nth-child(9n + 3) {
      --x-axis: var(--cube-dimension);
      --y-axis: calc(var(--cube-dimension) * -1);
    }
    &:nth-child(9n + 4) {
      --x-axis: calc(var(--cube-dimension) * -1);
    }
    &:nth-child(9n + 6) {
      --x-axis: var(--cube-dimension);
    }
    &:nth-child(9n + 7) {
      --x-axis: calc(var(--cube-dimension) * -1);
      --y-axis: var(--cube-dimension);
    }
    &:nth-child(9n + 8) {
      --y-axis: var(--cube-dimension);
    }
    &:nth-child(9n + 9) {
      --x-axis: var(--cube-dimension);
      --y-axis: var(--cube-dimension);
    }
  }
}
