.cube {
  &__container {
    --cube-dimension: 60px;
    display: flex;
    width: calc(var(--cube-dimension) * 6);
    height: calc(var(--cube-dimension) * 6);
  }
  &__list {
    transition: 0.1s transform ease-in-out;
    transform-style: preserve-3d;
    transform: rotateX(var(--rotate-x)) rotateY(var(--rotate-y));
    position: relative;
    margin: auto;
    width: calc(var(--cube-dimension) * 3);
    height: calc(var(--cube-dimension) * 3);
  }
  &__item {
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    width: var(--cube-dimension);
    height: var(--cube-dimension);
    // border: 1px solid #6c757d;
    opacity: 1;
    --x-axis: 0px;
    --y-axis: 0px;
    --z-axis: calc(var(--cube-dimension) * 3 / 2);
    background-color: #f0f0f0;
    display: flex;
    &::before {
      content: "";
      display: block;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      border-radius: 8px;
      background: var(--facet-color);
      margin: auto;
    }
    &--white {
      --facet-color: #fff;
    }
    &--red {
      --facet-color: var(--red-color);
    }
    &--green {
      --facet-color: var(--green-color);
    }
    &--yellow {
      --facet-color: var(--yellow-color);
    }
    &--orange {
      --facet-color: var(--orange-color);
    }
    &--blue {
      --facet-color: var(--blue-color);
    }
    &[data-facet="top"] {
      transform: rotateX(90deg)
        translate3d(var(--x-axis), var(--y-axis), var(--z-axis));
    }
    &[data-facet="left"] {
      transform: rotateY(-90deg)
        translate3d(var(--x-axis), var(--y-axis), var(--z-axis));
    }
    &[data-facet="back"] {
      transform: rotateY(180deg)
        translate3d(var(--x-axis), var(--y-axis), var(--z-axis));
    }
    &[data-facet="bottom"] {
      transform: rotateX(-90deg)
        translate3d(var(--x-axis), var(--y-axis), var(--z-axis));
    }
    &[data-facet="right"] {
      transform: rotateY(90deg)
        translate3d(var(--x-axis), var(--y-axis), var(--z-axis));
    }
    &[data-facet="front"] {
      transform: translate3d(var(--x-axis), var(--y-axis), var(--z-axis));
    }
    &:nth-child(9n + 1) {
      --x-axis: calc(var(--cube-dimension) * -1);
      --y-axis: calc(var(--cube-dimension) * -1);
    }
    &:nth-child(9n + 2) {
      --y-axis: calc(var(--cube-dimension) * -1);
    }
    &:nth-child(9n + 3) {
      --x-axis: var(--cube-dimension);
      --y-axis: calc(var(--cube-dimension) * -1);
    }
    &:nth-child(9n + 4) {
      --x-axis: calc(var(--cube-dimension) * -1);
    }
    &:nth-child(9n + 6) {
      --x-axis: var(--cube-dimension);
    }
    &:nth-child(9n + 7) {
      --x-axis: calc(var(--cube-dimension) * -1);
      --y-axis: var(--cube-dimension);
    }
    &:nth-child(9n + 8) {
      --y-axis: var(--cube-dimension);
    }
    &:nth-child(9n + 9) {
      --x-axis: var(--cube-dimension);
      --y-axis: var(--cube-dimension);
    }
  }
}
