.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.btn {
  padding: 0 20px;
  height: 30px;
  border: 2px solid #28a745;
  border-radius: 4px;
  color: #28a745;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  &:disabled {
    color: #6c757d;
    border-color: #6c757d;
    opacity: 0.5;
    cursor: not-allowed;
  }
}
